* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #555555;
  min-height: 100vh;
}

.app-container {
  width: 75vw;
  margin: 0 auto;
}


.result-body {
  background-color: #232323;
  padding: 3rem;
  border-radius: 10px;
}

.logo {
  color: #f65261;
  font-weight: bold;
}
