* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #555555;
  min-height: 100vh;
}

.header {
  background-color: #232323;
  margin: 3rem;
}

.result-body {
  background-color: #232323;
  margin: 3rem;
  padding: 3rem;
  border-radius: 10px;
}

.logo {
  color: #f65261;
  font-weight: bold;
}
