.item-card {
  width: auto;
  height: 25rem;
  color: #555555;
  display: grid;
  /* "poster menu" 10% */
  grid-template:
    "poster ." 10%
    "poster ." 70%
    "title date" 10%
    "genre genre" 10% / 80% 20%;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

/* .item-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
} */

.item-card > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-poster {
  grid-area: poster;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.item-poster img {
  width: 100%;
  height: auto;
}

.item-menu {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  height: auto;
}

.item-title {
  grid-area: title;
  justify-content: start;
  color: white;
}

.item-date {
  grid-area: date;
  border: 1px solid #555555;
  border-radius: 5px;
  transform: scale(0.7);
}

.item-genre {
  grid-area: genre;
  justify-content: start;
}
