.result-list {
  list-style-type: none;
  display: flex;
  height: 2rem;
}

.result-list > li {
  color: white;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-bottom: -3px;
}

.result-list > li:hover {
  cursor: pointer;
  border-bottom: 3px solid #f65261;
  z-index: 1;
}

.filtered {
  border-bottom: 3px solid #f65261;
  z-index: 1;
}
