.result-sort {
  justify-self: end;
  text-transform: uppercase;
  height: 2rem;
  display: flex;
}

.result-sort {
  color: #555555;
}

.result-sort-button {
  color: white;
  margin-left: 1rem;
  margin-bottom: -3px;
}

.sorted {
  cursor: pointer;
  border-bottom: 3px solid #f65261;
  z-index: 1;
}
