body {
  background-color: var(--color-dark-3);
  min-height: 100vh;

  .app-container {
    width: 75vw;
    margin: 0 auto;
  }
  .result-body {
    background-color: var(--color-dark-1);
    padding: 3rem;
    border-radius: 10px;
  }
  .logo {
    color: var(--color-primary);
    font-weight: bold;
  }
}
