.header {
  height: 20rem;
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template:
    "logo add-movie" 20%
    "title ." 20%
    "form form" 20%
    "image image" 40%;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.logo {
  grid-area: logo;
  position: absolute;
  top: 2rem;
  left: 3rem;
}

.add-movie-button {
  grid-area: add-movie;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.header-title {
  grid-area: title;
  grid-column: 1 / 3;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.header-form {
  grid-area: form;
  justify-self: center;
  background-color: white;
  border-radius: 0.3rem;
  padding: 2px;
}

.background-image {
  grid-area: image;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  z-index: -1;
}

.background-image img {
  width: 100%;
  filter: blur(3px) brightness(60%);
}
